{% extends "base.html" %}
{% block title %}List{% endblock %}

{% block content %}

<h1 class="pt-5 pb-2">List of Reports</h1>
		<form action="#" class="form-inline" >
			<div class="form-group mx-sm-3 mb-2">
				<div class="form-group">
					<input type="text" class="form-control" name="filter" placeholder="Személy vagy kamera...">
					<input class="mx-sm-3" type="submit" value="Keresés">
				</div>
			</div>
		</form>
		<table class="table">
			<tr>
				<th>Report ID</th>
				<th>Person ID</th>
				<th>Person Name</th>
				<th>Camera</th>
				<th>Image</th>
				<th>Timestamp</th>
			</tr>

			{% for rep in reports %}
			<tr>
				<td>{{ rep.report_id }}</td>
				<td><a href="{{url_for('views.view', pid=rep.person_id)}}">{{ rep.person_id }}</a></td>
				<td>{{ rep.name }}</td>
				<td>{{ rep.camera_name }}</td>
                <th><img style="max-width:150px; max-height:150px" src="data:;base64,{{ rep.b64_image }}"></th>
				<th>{{ rep.time_stamp }}</th>
			</tr>
			{% endfor %}
		</table>

{% endblock %}